*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
--royal: #0563c1;
--smokey: whitesmoke;
}

html,
body,
.wrapper {
  height: 105%;
  background-color: var(--smokey);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--smokey);
  padding: 40px 40px 0 40px;
}

.wrapper {
 padding: 5px;
 color: var(--smokey);
}

header {
  text-align: center;
  margin-top: 10px;
  color: var(--royal);
  font-size: 200%;
}

img {
  border-radius: 3rem;
  border: 1px dashed black;
  position: relative;
  margin-top: -35px;
}

.card {
  background-color: var(--royal);
  background-image: linear-gradient(
    rgba(132, 164, 247, 0.914) 0%,
    rgb(14, 2, 148) 100%);
  border-radius: 10px;
  border: solid rgb(65, 64, 64) 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--smokey);
  font-size: 20px;
  font-weight: bolder;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-evenly;
}


.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--smokey);
  height: 2px;
  margin-bottom: 15px;
}

.card-body {
  min-height: 125px;
  justify-content: center;
}

.card-footer {
  text-align: center;
  margin: 15px;
  padding-top: 10px;
}

.card-footer::before {
  content: " ";
  display: center;
  width: 100%;
  background: var(--smokey);
  height: 2px;
  margin-bottom: 20px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.btn {
  border: solid 2.5px var(--smokey);
  background-color: rgb(57, 56, 56);
  background-image: linear-gradient(
    rgba(190, 188, 188, 0.914) 0%,
    rgb(52, 51, 51) 100%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin: 8px 8px 15px 10px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  border: none;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2.5px solid rgb(65, 64, 64);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 768px) {

  header {
    text-align: center;
    margin-top: 20px;
    color: var(--royal);
    font-size: 100%;
  }

  img {
    border-radius: 3rem;
    position: relative;
    border: 1px dashed black;
    margin-top: -20px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
    border: solid 2.5px var(--smokey);
    background-color: rgb(57, 56, 56);
    background-image: linear-gradient(
      rgba(190, 188, 188, 0.914) 0%,
      rgb(52, 51, 51) 100%);
  }

.card {
  font-size: 15px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  background-image: linear-gradient(
    rgba(248, 121, 121, 0.914) 0%,
    rgb(136, 2, 2) 100%);
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  header {
    text-align: center;
    margin-top: 20px;
    color: var(--royal);
    font-size: 75%;
  }

  img {
    border-radius: 3rem;
    position: relative;
    border: 1px dashed black;
    margin-top: -10px;
  }

  .btn {
    font-size: 0.8rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
    border: solid 2.5px var(--smokey);
    background-color: rgb(57, 56, 56);
    background-image: linear-gradient(
      rgba(190, 188, 188, 0.914) 0%,
      rgb(52, 51, 51) 100%);
  }

  .card {
    font-size: 12px;
    text-align: center;
    background-color: var(--royal);
    background-image: linear-gradient(
      rgba(132, 164, 247, 0.914) 0%,
      rgb(14, 2, 148) 100%);
  }
}